[Desktop Entry]
Encoding=UTF-8
Name=Plugin Template
Name[bs]=Servisni Predložak
Name[de]=Modulvorlage
Name[es]=Plantilla para complementos
Name[et]=Mallplugin
Name[fi]=Liitännäispohja
Name[fr]=Module externe de modèle
Name[hu]=Bővítménysablon
Name[km]=ពុម្ព​កម្មវិធី​ជំនួយ
Name[mr]=प्लगइन नमूना
Name[nds]=Moduulvörlaag
Name[nl]=Plug-in-sjabloon
Name[pl]=Wtyczka szablonu
Name[pt]=Modelo do 'Plugin'
Name[pt_BR]=Modelo do plugin
Name[sv]=Mall för insticksprogram
Name[uk]=Шаблон додатка
Name[x-test]=xxPlugin Templatexx
Comment=Plugin Template
Comment[bs]=Servisni Predložak
Comment[de]=Modulvorlage
Comment[es]=Plantilla para complementos
Comment[et]=Mallplugin
Comment[fi]=Liitännäispohja
Comment[fr]=Modèle de module externe
Comment[hu]=Bővítménysablon
Comment[km]=ពុម្ព​កម្មវិធី​ជំនួយ
Comment[mr]=प्लगइन नमूना
Comment[nds]=Moduulvörlaag
Comment[nl]=Sjabloon van plug-in
Comment[pl]=Wtyczka szablonu
Comment[pt]=Modelo do 'Plugin'
Comment[pt_BR]=Modelo do plugin
Comment[sv]=Mall för insticksprogram
Comment[uk]=Шаблон додатка
Comment[x-test]=xxPlugin Templatexx
ServiceTypes=KMuddy/Plugin
Type=Service
X-KDE-Library=kmuddyplugintemplate
X-KMuddy-Version=2

