[Desktop Entry]
Encoding=UTF-8
Name=Strings
Name[bs]=Stringovi
Name[cs]=Řetězce
Name[de]=Zeichenketten
Name[es]=Cadenas
Name[et]=Stringid
Name[fr]=Chaîne de caractères
Name[km]=ឃ្លា
Name[mr]=स्ट्रिंग्स
Name[nl]=Tekenreeksen
Name[pl]=Ciągi znaków
Name[pt]=Cadeias de Caracteres
Name[pt_BR]=Strings
Name[sk]=Reťazce
Name[sv]=Strängar
Name[ug]=تېكىستلەر
Name[uk]=Рядки
Name[x-test]=xxStringsxx
Comment=This plug-in adds many strings functions.
Comment[bs]=Ovaj servis daje mnoge stringovne funkcije
Comment[de]=Ein Modul für viele Zeichenketten-Funktionen.
Comment[es]=Este complemento añade muchas funciones de cadena.
Comment[et]=Paljusid stringifunktsioone lisav plugin.
Comment[fr]=Ce module externe ajoute de nombreuses fonctions pour les chaînes de caractères.
Comment[km]=កម្មវិធី​ជំនួយ​នេះ​បន្ថែម​មុខងារ​ឃ្លា​ច្រើន ។
Comment[nl]=Deze plug-in voegt veel functies voor tekenreeksen toe.
Comment[pl]=Wtyczka ta dodaj wiele funkcji ciągów znaków.
Comment[pt]=Este 'plugin' adiciona muitas funções para cadeias de caracteres.
Comment[pt_BR]=Este plugin adiciona muitas funções para scripts.
Comment[sv]=Det här insticksprogrammet lägger till en mängd strängfunktioner.
Comment[uk]=За допомогою цього додатка реалізовано багато функцій, призначених для обробки рядків.
Comment[x-test]=xxThis plug-in adds many strings functions.xx
ServiceTypes=KMuddy/Plugin
Type=Service
X-KDE-Library=kmuddystringsplugin
X-KMuddy-Version=2

