[Desktop Entry]
Encoding=UTF-8
Name=Strings
Name[bs]=Stringovi
Name[ca]=Cadenes
Name[ca@valencia]=Cadenes
Name[cs]=Řetězce
Name[de]=Zeichenketten
Name[es]=Cadenas
Name[et]=Stringid
Name[fi]=Merkkijonot
Name[fr]=Chaîne de caractères
Name[gl]=Cadeas
Name[hu]=Sztringek
Name[it]=Stringhe
Name[km]=ឃ្លា
Name[ko]=문자열
Name[mr]=स्ट्रिंग्स
Name[nl]=Tekenreeksen
Name[pl]=Ciągi znaków
Name[pt]=Cadeias de Caracteres
Name[pt_BR]=Strings
Name[sk]=Reťazce
Name[sv]=Strängar
Name[tr]=Dizgeler
Name[ug]=تېكىستلەر
Name[uk]=Рядки
Name[zh_CN]=字符串
Name[zh_TW]=字串
Comment=This plug-in adds many strings functions.
Comment[bs]=Ovaj servis daje mnoge stringovne funkcije.
Comment[ca]=Aquest connector afegeix moltes funcions de cadenes.
Comment[ca@valencia]=Aquest connector afig moltes funcions de cadenes.
Comment[de]=Ein Modul für viele Zeichenketten-Funktionen.
Comment[es]=Este complemento añade muchas funciones de cadena.
Comment[et]=Paljusid stringifunktsioone lisav plugin.
Comment[fi]=Tämä liitännäinen lisää monia merkkijonofunktioita.
Comment[fr]=Ce module externe ajoute de nombreuses fonctions pour les chaînes de caractères.
Comment[gl]=Este complemento engade moitas funcións de cadeas.
Comment[hu]=Ez a bővítmény sztringkezelő függvényeket biztosít.
Comment[it]=Questa estensione aggiunge molte funzioni sulle stringhe.
Comment[km]=កម្មវិធី​ជំនួយ​នេះ​បន្ថែម​មុខងារ​ឃ្លា​ច្រើន ។
Comment[ko]=이 플러그인은 여러 문자열 함수를 추가합니다.
Comment[nl]=Deze plug-in voegt veel functies voor tekenreeksen toe.
Comment[pl]=Wtyczka ta dodaj wiele funkcji ciągów znaków.
Comment[pt]=Este 'plugin' adiciona muitas funções para cadeias de caracteres.
Comment[pt_BR]=Este plugin adiciona muitas funções para scripts.
Comment[sv]=Det här insticksprogrammet lägger till en mängd strängfunktioner.
Comment[tr]=Bu eklenti, bir çok dizge fonksiyonu ekler.
Comment[uk]=За допомогою цього додатка реалізовано багато функцій, призначених для обробки рядків.
Comment[zh_CN]=这个插件提供了许多字符串函数。
Comment[zh_TW]=此外掛程式加入了許多字串函式。
ServiceTypes=KMuddy/Plugin
Type=Service
X-KDE-Library=kmuddystringsplugin
X-KMuddy-Version=2

