[Desktop Entry]
Encoding=UTF-8
Name=Testing Plug-in
Name[bs]=Testiranje Servisa
Name[de]=Test-Modul
Name[es]=Probando el complemento
Name[et]=Testplugin
Name[fi]=Testausliitännäinen
Name[fr]=Module externe de test
Name[hu]=Tesztelő bővítmény
Name[km]=សាកល្បង​កម្មវិធី​ជំនួយ
Name[mr]=प्लगइनची चाचणी घेत आहे
Name[nl]=Testen-plug-in
Name[pl]=Testowa wtyczka
Name[pt]=A Testar o 'Plugin'
Name[pt_BR]=Testando o plugin
Name[sv]=Insticksprogram för test
Name[uk]=Тестовий додаток
Name[x-test]=xxTesting Plug-inxx
Comment=Testing Plug-in
Comment[bs]=Testiranje Servisa
Comment[de]=Test-Modul
Comment[es]=Probando el complemento
Comment[et]=Testplugin
Comment[fi]=Testausliitännäinen
Comment[fr]=Module externe de test
Comment[hu]=Tesztelő bővítmény
Comment[km]=សាកល្បង​កម្មវិធី​ជំនួយ
Comment[mr]=प्लगइनची चाचणी घेत आहे
Comment[nl]=Plug-in voor testen
Comment[pl]=Testowa wtyczka
Comment[pt]=A Testar o 'Plugin'
Comment[pt_BR]=Testando o plugin
Comment[sv]=Insticksprogram för test
Comment[uk]=Тестовий додаток
Comment[x-test]=xxTesting Plug-inxx
ServiceTypes=KMuddy/Plugin
Type=Service
X-KDE-Library=kmuddytestplugin
X-KMuddy-Version=2

