[Desktop Entry]
Encoding=UTF-8
Name=External Scripting
Name[bs]=Vanjsko skriptiranje
Name[ca]=Creació de scripts externs
Name[ca@valencia]=Creació de scripts externs
Name[de]=Externe Skripte
Name[es]=Scripts externos
Name[et]=Väline skriptimine
Name[fi]=Ulkoinen skriptaus
Name[fr]=Scripts externes
Name[gl]=Scripting externo
Name[hu]=Külső szkriptelés
Name[it]=Script esterni
Name[km]=ការ​ស្គ្រីប​ខាងក្រៅ
Name[ko]=외부 스크립팅
Name[mr]=एक्सटर्नल स्क्रिप्टिंग
Name[nl]=Externe scripting
Name[pl]=Zewnętrzny skrypt
Name[pt]=Programação Externa
Name[pt_BR]=Programação de scripts externa
Name[sv]=Externa skript
Name[tr]=Harici Betikler
Name[uk]=Зовнішні скрипти
Name[zh_CN]=外部脚本支持
Comment=Adds support for external scripting.
Comment[bs]=Daje podršku za vanjsko skriptiranje.
Comment[ca]=Afegeix suport per a la creació de scripts externs.
Comment[ca@valencia]=Afig suport per a la creació de scripts externs.
Comment[de]=Unterstützung für externe Skripte
Comment[es]=Añade apoyo para scripts externos.
Comment[et]=Välise skriptimise toetus.
Comment[fi]=Lisää ulkoisen skriptauksen tuen.
Comment[fr]=Ajoute la prise en charge des scripts externes.
Comment[gl]=Engade a posibilidade de usar scripts externos.
Comment[hu]=Külső szkriptelési lehetőség hozzáadása.
Comment[it]=Aggiunge il supporto agli script esterni.
Comment[km]=បន្ថែម​ការ​គាំទ្រ​សម្រាប់​ស្គ្រីប​ខាងក្រៅ ។
Comment[ko]=외부 스크립팅 지원을 추가합니다.
Comment[nl]=Voegt ondersteuning voor externe scripting toe.
Comment[pl]=Dodaje obsługę dla zewnętrznych skryptów
Comment[pt]=Adiciona o suporte para programas externos.
Comment[pt_BR]=Adiciona suporte para scripts externos.
Comment[sv]=Lägger till stöd för externa skript.
Comment[tr]=Harici betik desteğini ekler.
Comment[uk]=Додає підтримку обробки зовнішніх скриптів.
Comment[zh_CN]=添加外部脚本支持。
ServiceTypes=KMuddy/Plugin
Type=Service
X-KDE-Library=kmuddyscriptingplugin
X-KMuddy-Version=2

