[Desktop Entry]
Encoding=UTF-8
Name=External Scripting
Name[es]=Scripts externos
Name[et]=Väline skriptimine
Name[fr]=Scripts externes
Name[nl]=Externe scripting
Name[pl]=Zewnętrzny skrypt
Name[pt]=Programação Externa
Name[pt_BR]=Programação de scripts externa
Name[sv]=Externa skript
Name[uk]=Зовнішні скрипти
Name[x-test]=xxExternal Scriptingxx
Comment=Adds support for external scripting.
Comment[es]=Añade apoyo para scripts externos.
Comment[et]=Välise skriptimise toetus.
Comment[fr]=Ajoute la prise en charge des scripts externes.
Comment[pl]=Dodaje obsługę dla zewnętrznych skryptów
Comment[pt]=Adiciona o suporte para programas externos.
Comment[pt_BR]=Adiciona suporte para scripts externos.
Comment[sv]=Lägger till stöd för externa skript.
Comment[uk]=Додає підтримку обробки зовнішніх скриптів.
Comment[x-test]=xxAdds support for external scripting.xx
ServiceTypes=KMuddy/Plugin
Type=Service
X-KDE-Library=kmuddyscriptingplugin
X-KMuddy-Version=2

