[Desktop Entry]
Encoding=UTF-8
Name=Variable Triggers
Name[bs]=Promjenjivi okidači
Name[ca]=Desencadenants variables
Name[ca@valencia]=Desencadenants variables
Name[de]=Variable löst aus
Name[en_GB]=Variable Triggers
Name[eo]=Variaj ellasiloj
Name[es]=Desencadenantes variables
Name[et]=Muutujapäästikud
Name[fi]=Muuttujaliipaisimet
Name[fr]=Déclencheurs associés à des variables
Name[gl]=Disparadores variábeis
Name[hu]=Változótriggerek
Name[it]=Attivatori variabili
Name[ka]=ცვლადების ტრიგერები
Name[km]=គន្លឹះ​អថេរ
Name[ko]=변수 트리거
Name[nl]=Variabele geeft startsignaal
Name[pl]=Wyzwalacze zmiennych
Name[pt]=Activações de Variáveis
Name[pt_BR]=Acionamentos da variável
Name[sl]=Prožilniki spremenljivk
Name[sv]=Variabelutlösare
Name[tr]=Değişken Tetikleyicileri
Name[uk]=Умовні зміни
Name[x-test]=xxVariable Triggersxx
Name[zh_CN]=变量触发器
Name[zh_TW]=變數觸發器
Comment=Adds supports for triggers that fire off variable changes.
Comment[bs]=Daje podršku za prekidače koji aktiviraju na promjene varijabli.
Comment[ca]=Afegeix suport per a desencadenants que activen canvis variables.
Comment[ca@valencia]=Afig suport per a desencadenants que activen canvis variables.
Comment[de]=Fügt Unterstützung für Auslöser hinzu, die Änderungen von Variablen bewirken.
Comment[en_GB]=Adds supports for triggers that fire off variable changes.
Comment[eo]=Aldonas subtenojn por ellasiloj, kiuj forigas variajn ŝanĝojn.
Comment[es]=Añade apoyo para desencadenantes que disparan cambios variables.
Comment[et]=Muutujate muutumise puhul käivituvate päästikute toetus.
Comment[fi]=Lisää tuki liipaisimille, jotka käynnistyvät muuttujien muutoksista.
Comment[fr]=Ajoute la prise en charge des déclencheurs s'activant lors de modifications de variables.
Comment[gl]=Engade a posibilidade de usar disparadores que desencadean cambios variábeis.
Comment[hu]=Ez a bővítmény változómódosítást elindító triggereket biztosít.
Comment[it]=Aggiunge il supporto agli attivatori che si azionano alle modifiche delle variabili.
Comment[ka]=ამატებს მხარდაჭერას ტრიგერებისას, რომლებიც ცვლადის ცვლილებაზე ეშვებიან.
Comment[km]=បន្ថែម​ការ​គាំទ្រ​គន្លឹះ​ដែល​មាន​ការ​ផ្លាស់ប្ដូរ​អថេរ ។
Comment[ko]=이 플러그인은 변수 변경 트리거를 지원합니다.
Comment[nl]=Voegt ondersteuning voor triggers die variabele wijzigingen afvuren.
Comment[pl]=Dodaj obsługę dla wyzwalaczy, który wyzwalają zmiany zmiennych.
Comment[pt]=Adiciona o suporte para activações que despoletam mudanças de variáveis.
Comment[pt_BR]=Adiciona suporte para acionamentos de alterações de variáveis.
Comment[sl]=Doda podporo za prožilnike, ki se prožijo ob spremembah spremenljivk.
Comment[sv]=Lägger till stöd för utlösare som skickar iväg variabeländringar.
Comment[tr]=Değişken değişiklik tetikleyicileri için destek ekler.
Comment[uk]=Додає підтримку умов, які призводять до змін значень змінних.
Comment[x-test]=xxAdds supports for triggers that fire off variable changes.xx
Comment[zh_CN]=提供在变量变化时触发的触发器。
ServiceTypes=KMuddy/Plugin
Type=Service
X-KDE-Library=kmuddyvartrigplugin
X-KMuddy-Version=2

