[Desktop Entry]
Encoding=UTF-8
Name=Variable Triggers
Name[de]=Variable löst aus
Name[es]=Desencadenantes variables
Name[et]=Muutujapäästikud
Name[fr]=Déclencheurs associés à des variables
Name[km]=គន្លឹះ​អថេរ
Name[pl]=Wyzwalacze zmiennych
Name[pt]=Activações de Variáveis
Name[pt_BR]=Acionamentos da variável
Name[sv]=Variabelutlösare
Name[uk]=Умовні зміни
Name[x-test]=xxVariable Triggersxx
Comment=Adds supports for triggers that fire off variable changes.
Comment[de]=Fügt Unterstützung für Auslöser hinzu, die Änderungen von Variablen bewirken.
Comment[es]=Añade apoyo para desencadenantes que disparan cambios variables.
Comment[et]=Muutujate muutumise puhul käivituvate päästikute toetus.
Comment[fr]=Ajoute la prise en charge des déclencheurs s'activant lors de modifications de variables.
Comment[km]=បន្ថែម​ការ​គាំទ្រ​គន្លឹះ​ដែល​មាន​ការ​ផ្លាស់ប្ដូរ​អថេរ ។
Comment[pl]=Dodaj obsługę dla wyzwalaczy, który wyzwalają zmiany zmiennych.
Comment[pt]=Adiciona o suporte para activações que despoletam mudanças de variáveis.
Comment[pt_BR]=Adiciona suporte para acionamentos de alterações de variáveis.
Comment[sv]=Lägger till stöd för utlösare som skickar iväg variabeländringar.
Comment[uk]=Додає підтримку умов, які призводять до змін значень змінних.
Comment[x-test]=xxAdds supports for triggers that fire off variable changes.xx
ServiceTypes=KMuddy/Plugin
Type=Service
X-KDE-Library=kmuddyvartrigplugin
X-KMuddy-Version=2

