[Desktop Entry]
Type=Service
Comment=A Mapper for KMuddy
Comment[bs]=Mapper za KMuddy
Comment[ca]=Un mapador per al KMuddy
Comment[ca@valencia]=Un mapador per a KMuddy
Comment[de]=Ein Mapper für KMuddy
Comment[en_GB]=A Mapper for KMuddy
Comment[eo]=Mapisto por KMuddy
Comment[es]=Mapeador para KMuddy
Comment[et]=KMuddy tasemelooja
Comment[eu]=KMuddy-rentzako mapatzaile bat
Comment[fr]=Un éditeur de niveaux pour KMuddy
Comment[gl]=Un editor de mapas para KMuddy.
Comment[hu]=Térképkészítő a KMuddyhoz
Comment[ia]=Un planator per KMuddy
Comment[it]=Un creatore di mappe per KMuddy
Comment[ka]=KMuddy-ს გადამყვანი
Comment[km]=កម្មវិធី​ផ្គូផ្គង​សម្រាប់ KMuddy
Comment[ko]=KMuddy 지도 작성기
Comment[nl]=Een mapper voor KMuddy
Comment[pl]=Mapowanie dla KMuddy
Comment[pt]=Um Mapeador do KMuddy
Comment[pt_BR]=Um mapeador do KMuddy
Comment[sl]=Mapper za KMuddy
Comment[sv]=Ett kartverktyg för Kmuddy
Comment[tr]=Bir KMuddy Eşleyicisi
Comment[uk]=Робота з картами у KMuddy
Comment[x-test]=xxA Mapper for KMuddyxx
Comment[zh_CN]=KMuddy 地图编辑器
Name=Kmuddy Mapper
Name[bs]=Kmuddy Mapper
Name[ca]=Mapador del KMuddy
Name[ca@valencia]=Mapador de KMuddy
Name[de]=Kmuddy-Mapper
Name[en_GB]=Kmuddy Mapper
Name[eo]=Kmuddy Mapper
Name[es]=Mapeador para Kmuddy
Name[et]=KMuddy tasemelooja
Name[eu]=Kmuddy mapatzailea
Name[fr]=Éditeur de niveaux pour KMuddy
Name[gl]=Editor de mapas de KMuddy
Name[hu]=Kmuddy térképkészítő
Name[ia]=Planator de Kmuddy
Name[it]=Creatore di mappe per KMuddy
Name[ka]=KMuddy-ს გადამყვანი
Name[km]=កម្មវិធី​ផ្គូផ្គង Kmuddy
Name[ko]=KMuddy 지도 작성기
Name[nl]=Kmuddy-mapper
Name[pl]=Mapowanie Kmuddy
Name[pt]=Um Mapeador do KMuddy
Name[pt_BR]=Mapeador do KMuddy
Name[sl]=Kmuddy Mapper
Name[sv]=Kmuddy-karthantering
Name[tr]=Kmuddy Eşleyici
Name[uk]=Робота з картами у Kmuddy
Name[x-test]=xxKmuddy Mapperxx
Name[zh_CN]=Kmuddy 地图编辑器
ServiceTypes=KMuddy/Plugin
X-KDE-Library=kmuddymapper
X-Kmud-Part-Name=Kmud Mapper
X-Kmud-Part-Version=2.0
X-Kmud-Part-Author=John-Paul Stanford
X-Kmud-Part-Email=jp@stanwood.org.uk
X-Kmud-Part-URL=http://www.kmud.de
X-Kmud-Part-Description=This is an auto mapper for Kmud.
X-Kmud-MapperPart-TestProperty=test test test
X-KMuddy-Version=2

