[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KMuddy/Mapper/Plugin
Name=KMuddy Mapper Tool
Name[es]=Herramienta mapeadora para KMuddy
Name[et]=KMuddy tasemelooja
Name[fr]=Outils d'édition de niveau (Mapper) pour KMuddy
Name[pt]=Ferramenta de Mapeamento do KMuddy
Name[pt_BR]=Ferramenta de mapeamento do KMuddy
Name[sv]=Kmuddy-kartverktyg
Name[uk]=Засіб роботи з картами KMuddy
Name[x-test]=xxKMuddy Mapper Toolxx

[PropertyDef::X-KMuddy-Mapper-Plugin-Name]
Type=QString

[PropertyDef::X-KMuddy-Mapper-Plugin-Version]
Type=QString

[PropertyDef::X-KMuddy-Mapper-Plugin-Author]
Type=QString

[PropertyDef::X-KMuddy-Mapper-Plugin-Email]
Type=QString

[PropertyDef::X-KMuddy-Mapper-Plugin-URL]
Type=QString

[PropertyDef::X-KMuddy-Mapper-Plugin-Description]
Type=QString

