[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KMuddy/Mapper/Plugin
Name=KMuddy Mapper Tool
Name[bs]=Alat za KMuddy Mapper
Name[ca]=Eina de mapatge del KMuddy
Name[ca@valencia]=Eina de mapatge del KMuddy
Name[de]=Kmuddy-Mapper-Werkzeug
Name[es]=Herramienta mapeadora para KMuddy
Name[et]=KMuddy tasemelooja
Name[fr]=Outils d'édition de niveaux pour KMuddy
Name[gl]=Ferramenta de edición de mapas de KMuddy
Name[hu]=KMuddy térképkészítő eszköz
Name[it]=Strumento creatore di mappe per KMuddy
Name[km]=ឧបករណ៍​កម្មវិធី​ផ្គូផ្គង KMuddy
Name[ko]=KMuddy 지도 작성 도구
Name[nl]=Hulpmiddel voor Kmuddy-mapper
Name[pl]=Narzędzie mapowania KMuddy
Name[pt]=Ferramenta de Mapeamento do KMuddy
Name[pt_BR]=Ferramenta de mapeamento do KMuddy
Name[sl]=Orodje Kmuddy Mapper
Name[sv]=Kmuddy-kartverktyg
Name[tr]=KMuddy Eşleyici Araç
Name[uk]=Засіб роботи з картами KMuddy
Name[x-test]=xxKMuddy Mapper Toolxx
Name[zh_CN]=KMuddy 地图编辑工具

[PropertyDef::X-KMuddy-Mapper-Plugin-Name]
Type=QString

[PropertyDef::X-KMuddy-Mapper-Plugin-Version]
Type=QString

[PropertyDef::X-KMuddy-Mapper-Plugin-Author]
Type=QString

[PropertyDef::X-KMuddy-Mapper-Plugin-Email]
Type=QString

[PropertyDef::X-KMuddy-Mapper-Plugin-URL]
Type=QString

[PropertyDef::X-KMuddy-Mapper-Plugin-Description]
Type=QString

