[Desktop Entry]
Encoding=UTF-8
Name=Profile Converter
Name[bs]=Profil Pretvarač
Name[ca]=Convertidor de perfils
Name[ca@valencia]=Convertidor de perfils
Name[de]=Profil-Umwandlung
Name[en_GB]=Profile Converter
Name[eo]=Profila Konvertilo
Name[es]=Conversor de perfiles
Name[et]=Profiiliteisendaja
Name[fi]=Profiilimuunnin
Name[fr]=Convertisseur de profil
Name[gl]=Convertedor de perfís
Name[hu]=Profilátalakító
Name[it]=Convertitore di profili
Name[ka]=პროფილის გადამყვანი
Name[km]=កម្មវិធី​បម្លែង​ទម្រង់
Name[ko]=프로필 변환기
Name[mr]=रूपरेषा परिवर्तक
Name[nl]=Profielconverter
Name[pl]=Przekształcanie profilu
Name[pt]=Conversor de Perfis
Name[pt_BR]=Conversor de perfis
Name[sl]=Prevajalec profila
Name[sv]=Profilkonvertering
Name[tr]=Profil Dönüştürücü
Name[uk]=Засіб перетворення профілів
Name[zh_CN]=档案转换器
Name[zh_TW]=設定檔轉換工具
Comment=This plug-in converts profiles from old KMuddy versions.
Comment[bs]=Ovaj servis pretvara profile iz starih   KMuddy verzija.
Comment[ca]=Aquest connector converteix els perfils des de versions antigues del KMuddy.
Comment[ca@valencia]=Este connector convertix els perfils des de versions antigues de KMuddy.
Comment[de]=Dieses Modul wandelt Profile älterer KMuddy-Versionen um.
Comment[en_GB]=This plug-in converts profiles from old KMuddy versions.
Comment[eo]=Ĉi tiu kromprogramo konvertas profilojn de malnovaj versioj de KMuddy.
Comment[es]=Este complemento convierte perfiles desde versiones antiguas de KMuddy.
Comment[et]=Plugin, mis teisendab profiile KMuddy vanematest versioonidest.
Comment[fi]=Tämä liitännäinen muuntaa vanhojen KMuddyn versioiden profiileja.
Comment[fr]=Ce module externe convertit les profils issus des anciennes versions de KMuddy.
Comment[gl]=Este complemento converte perfís de versións anteriores de KMuddy.
Comment[hu]=Ez a bővítmény átalakítja a profilokat a régi KMuddy verziókból.
Comment[it]=Questa estensione converte i profili delle vecchie versioni di KMuddy.
Comment[ka]=ეს დამატება KMuddy-ის ძველი ვერსიების გადასაყვანად გამოიყენება.
Comment[km]=កម្មវិធី​ជំនួយ​នេះ​បម្លែង​ទម្រង់​ពី​កំណែ KMuddy ចាស់ៗ ។
Comment[ko]=이 플러그인은 이전 KMuddy 버전의 프로필을 변환합니다.
Comment[nl]=Deze plugin converteert profielen van oude KMuddy-versies.
Comment[pl]=Wtyczka ta przekształca profile ze starej wersji KMuddy.
Comment[pt]=Este 'plugin' converte os perfis das versões antigas do KMuddy.
Comment[pt_BR]=Este plugin converte os perfis das versões antigas do KMuddy.
Comment[sl]=Ta vtičnik pretvori profile iz starih različic KMuddy.
Comment[sv]=Det här insticksprogrammet konverterar profiler från gamla versioner av Kmuddy.
Comment[tr]=Bu eklenti, profilleri eski KMuddy sürümünden dönüştürür.
Comment[uk]=За допомогою цього додатка можна перетворити дані профілів старих версій KMuddy.
Comment[zh_CN]=这个插件转换旧版本 KMuddy 档案。
Comment[zh_TW]=此外掛程式可轉換 KMuddy 舊版設定檔。
ServiceTypes=KMuddy/Plugin
Type=Service
X-KDE-Library=kmuddyconverterplugin
X-KMuddy-Version=2

