[Desktop Entry]
Name=KMuddy
Name[ast]=KMuddy
Name[bs]=KMuddy
Name[cs]=KMuddy
Name[de]=KMuddy
Name[es]=KMuddy
Name[et]=KMuddy
Name[fi]=KMuddy
Name[fr]=KMuddy
Name[gl]=KMuddy
Name[hu]=KMuddy
Name[km]=KMuddy
Name[mr]=के-मडी
Name[nl]=KMuddy
Name[pl]=KMuddy
Name[pt]=KMuddy
Name[pt_BR]=KMuddy
Name[sk]=KMuddy
Name[sv]=Kmuddy
Name[tr]=KMuddy
Name[uk]=KMuddy
Name[x-test]=xxKMuddyxx
Type=Application
Exec=kmuddy -caption %c %i
Icon=kmuddy
DocPath=kmuddy/index.html
GenericName=MUD client
GenericName[bs]=MUD klijent
GenericName[de]=MUD-Dienstprogramm
GenericName[es]=Cliente de MUD
GenericName[et]=MUD-i klient
GenericName[fi]=MUD-asiakas
GenericName[fr]=Client MUD (Multi Utilisateurs Donjons)
GenericName[gl]=Cliente de MUD
GenericName[hu]=MUD kliens
GenericName[km]=ម៉ាស៊ីន​ភ្ញៀវ MUD
GenericName[mr]=एमयुडी ग्राहक
GenericName[nl]=MUD-client
GenericName[pl]=Klient MUD
GenericName[pt]=Cliente de MUD
GenericName[pt_BR]=Cliente MUD
GenericName[sv]=MUD-klient
GenericName[tr]=MUD istemcisi
GenericName[uk]=Клієнт MUD
GenericName[x-test]=xxMUD clientxx
Comment=MUD client
Comment[bs]=MUD klijent
Comment[de]=MUD-Dienstprogramm
Comment[es]=Cliente de MUD
Comment[et]=MUD-i klient
Comment[fi]=MUD-asiakas
Comment[fr]=Client MUD (Donjon Multi Utilisateurs)
Comment[gl]=Cliente de MUD.
Comment[hu]=MUD kliens
Comment[km]=ម៉ាស៊ីន​ភ្ញៀវ MUD
Comment[mr]=एमयुडी ग्राहक
Comment[nl]=MUD-client
Comment[pl]=Klient MUD
Comment[pt]=Cliente de MUD
Comment[pt_BR]=Cliente MUD
Comment[sv]=MUD-klient
Comment[tr]=MUD istemcisi
Comment[uk]=Клієнт MUD
Comment[x-test]=xxMUD clientxx
Terminal=false
