[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KMuddy/Plugin
X-KDE-Derived=KPluginInfo
Comment=KMuddy Plugin
Comment[de]=KMuddy-Modul
Comment[es]=Complemento para KMuddy
Comment[et]=KMuddy plugin
Comment[fr]=Module externe KMuddy
Comment[hu]=KMuddy bővítmény
Comment[km]=កម្មវិធី​ជំនួយ KMuddy
Comment[mr]=के-मडी प्लगइन
Comment[nl]=Plugin van KMuddy
Comment[pl]=Wtyczka KMuddy
Comment[pt]='Plugin' do KMuddy
Comment[pt_BR]=Plugin do KMuddy
Comment[sv]=Insticksprogram för Kmuddy
Comment[uk]=Додаток KMuddy
Comment[x-test]=xxKMuddy Pluginxx

# version of plug-in, used to prevent loading plug-ins with incompatible API
[PropertyDef::X-KMuddy-Version]
Type=int

