[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KMuddy/Plugin
X-KDE-Derived=KPluginInfo
Comment=KMuddy Plugin
Comment[bs]=KMuddy Servis
Comment[ca]=Connector del KMuddy
Comment[ca@valencia]=Connector del KMuddy
Comment[de]=KMuddy-Modul
Comment[es]=Complemento para KMuddy
Comment[et]=KMuddy plugin
Comment[fi]=KMuddy-liitännäinen
Comment[fr]=Module externe KMuddy
Comment[gl]=Complemento de KMuddy.
Comment[hu]=KMuddy bővítmény
Comment[km]=កម្មវិធី​ជំនួយ KMuddy
Comment[mr]=के-मडी प्लगइन
Comment[nl]=Plugin van KMuddy
Comment[pl]=Wtyczka KMuddy
Comment[pt]='Plugin' do KMuddy
Comment[pt_BR]=Plugin do KMuddy
Comment[sv]=Insticksprogram för Kmuddy
Comment[tr]=KMuddy Eklentisi
Comment[uk]=Додаток KMuddy
Comment[x-test]=xxKMuddy Pluginxx
Comment[zh_CN]=KMuddy 插件

# version of plug-in, used to prevent loading plug-ins with incompatible API
[PropertyDef::X-KMuddy-Version]
Type=int

