<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartplugin library="libkmuddymapper_standard" version="1.0">
	<ToolBar name="tools">
		<Action name="toolsSelect"/>
		<Action name="toolsRoom"/>
		<Action name="toolsPath"/>
		<Action name="toolsText"/>
		<Action name="toolsEraser"/>
		<Separator/>
	</ToolBar>
</kpartplugin>
