[Desktop Entry]
Type=Service
Comment=The standard mapper tools and views
Comment[de]=Die Standard-Mapperwerkzeuge und Ansichten
Comment[es]=Vistas y herramientas del mapeador estándar
Comment[et]=Standardsed tasemelooja tööriistad ja vaated
Comment[fr]=Les afficheurs et éditeurs standards de niveaux 
Comment[km]=ទិដ្ឋភាព និង​ឧបករណ៍​កម្មវិធី​ផ្គូផ្គង​ស្តង់ដារ
Comment[pl]=Standardowe narzędzia mapowania i widoków
Comment[pt]=As ferramentas e vistas normais do mapeador
Comment[pt_BR]=As ferramentas e visualizações normais do mapeador
Comment[sv]=De vanliga kartverktygen och vyerna
Comment[uk]=Стандартні засоби і панелі перегляду карт
Comment[x-test]=xxThe standard mapper tools and viewsxx
Name=Standard
Name[bs]=Standardno
Name[cs]=Standardní
Name[de]=Standard
Name[es]=Estándar
Name[et]=Standardne
Name[fr]=Standard
Name[ga]=Caighdeánach
Name[hu]=Szabványos
Name[km]=ស្តង់ដារ
Name[mr]=प्रमाणित
Name[nds]=Standard
Name[nl]=Standaard
Name[pl]=Standard
Name[pt]=Normal
Name[pt_BR]=Padrão
Name[sk]=Štandardné
Name[sv]=Standard
Name[tr]=Standart
Name[ug]=ئۆلچەملىك
Name[uk]=Стандарт
Name[x-test]=xxStandardxx
Comment=The standard mapper tools and views
Comment[de]=Die Standard-Mapperwerkzeuge und Ansichten
Comment[es]=Vistas y herramientas del mapeador estándar
Comment[et]=Standardsed tasemelooja tööriistad ja vaated
Comment[fr]=Les afficheurs et éditeurs standards de niveaux 
Comment[km]=ទិដ្ឋភាព និង​ឧបករណ៍​កម្មវិធី​ផ្គូផ្គង​ស្តង់ដារ
Comment[pl]=Standardowe narzędzia mapowania i widoków
Comment[pt]=As ferramentas e vistas normais do mapeador
Comment[pt_BR]=As ferramentas e visualizações normais do mapeador
Comment[sv]=De vanliga kartverktygen och vyerna
Comment[uk]=Стандартні засоби і панелі перегляду карт
Comment[x-test]=xxThe standard mapper tools and viewsxx
ServiceTypes=KMuddy/Mapper/Plugin
X-KDE-Library=libkmuddymapper_standard
X-Kmuddy-Mapper-Plugin-Name=Kmud Mapper Standard Tools Plugin
X-Kmuddy-Mapper-Plugin-Version=1.0
X-Kmuddy-Mapper-Plugin-Author=John-Paul Stanford
X-Kmuddy-Mapper-Plugin-Email=jp@stanwood.org.uk
X-Kmuddy-Mapper-Plugin-URL=http://www.kmud.de
X-Kmuddy-Mapper-Plugin-Description=This is a select tool for the auto mapper of Kmud.

