<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartplugin library="libkmuddymapper_speedwalk" version="1.0">
	<MenuBar>
		<Menu name="Window"><Text>&amp;Window</Text>
			<Action name = "viewSpeedwalkList"/>
		</Menu>
	</MenuBar>
	<Menu name = "room_popup">
		<Action name = "roomAddToSpeedwalk"/>
	</Menu>
</kpartplugin>
