[Desktop Entry]
Type=Service
Comment=The speedwalk list plugin for the kmuddy mapper
Comment[es]=Complemento de lista de speedwalk para el mapeador de KMuddy
Comment[pt]=O 'plugin' de listas do Speedwalk para o mapeador do KMuddy
Comment[sv]=Insticksprogrammet för snabbgenomgång av listor för Kmuddy-karthantering
Comment[uk]=Додаток списку проходження до засобу роботи з картами KMuddy
Comment[x-test]=xxThe speedwalk list plugin for the kmuddy mapperxx
Name=Speedwalk
Name[es]=Speedwalk
Name[nl]=Speedwalk
Name[pt]=Speedwalk
Name[sv]=Snabbgenomgång
Name[uk]=Проходження
Name[x-test]=xxSpeedwalkxx
ServiceTypes=KMuddy/Mapper/Plugin
X-KDE-Library=libkmuddymapper_speedwalk
X-KMuddy-Mapper-Plugin-Name=Kmuddy Mapper Speedwalk Plugin
X-KMuddy-Mapper-Plugin-Version=1.0
X-KMuddy-Mapper-Plugin-Author=John-Paul Stanford
X-KMuddy-Mapper-Plugin-Email=kmud-devel@kmud.de
X-KMuddy-Mapper-Plugin-URL=http://www.kmud.de
X-KMuddy-Mapper-Plugin-Description=The speedwalk list plugin for the kmuddy mapper

