[Desktop Entry]
Encoding=UTF-8
Name=Variable Viewer
Name[bs]=Preglednik Varijabli
Name[ca]=Visor variable
Name[ca@valencia]=Visor variable
Name[de]=Variablenansicht
Name[es]=Visor variable
Name[et]=Muutujanäitaja
Name[fi]=Muuttujakatselin
Name[fr]=Afficheur de variables
Name[gl]=Visor de variábeis
Name[hu]=Változómegjelenítő
Name[km]=កម្មវិធី​មើល​អថេរ
Name[mr]=परिवर्तनीय प्रदर्शक
Name[nl]=Variabele viewer
Name[pl]=Przeglądarka zmiennych
Name[pt]=Visualizador de Variáveis
Name[pt_BR]=Visualizador de variáveis
Name[sv]=Variabelvisning
Name[tr]=Değişken Görüntüleyici
Name[uk]=Перегляд змінних
Name[x-test]=xxVariable Viewerxx
Name[zh_CN]=变量查看器
Comment=This plug-in provides a variable viewer window.
Comment[bs]=Ovaj servis pruža prozor za pregled varijable.
Comment[ca]=Aquest connector proporciona una finestra per a la visualització variable.
Comment[ca@valencia]=Aquest connector proporciona una finestra per a la visualització variable.
Comment[de]=Diese Modul stellt ein Ansichtsfenster für Variablen bereit.
Comment[es]=Este complemento proporciona una ventana de visor variable.
Comment[et]=Muutujanäitaja akent pakkuv plugin.
Comment[fi]=Tämä liitännäinen tarjoaa muuttujien tarkasteluikkunan.
Comment[fr]=Ce module externe fournit une fenêtre d'affichage de variables.
Comment[gl]=Este complemento fornece unha xanela de visor de variábeis.
Comment[hu]=Ez a bővítmény egy változómegjelenítő ablakot biztosít.
Comment[km]=កម្មវិធី​ជំនួយ​នេះ​ផ្ដល់​បង្អួច​កម្មវិធី​មើល​អថេរ ។
Comment[nl]=Deze plugin biedt een venster voor variabele viewer.
Comment[pl]=Wtyczka zapewnia okno przeglądarki zmiennych.
Comment[pt]=Este 'plugin' fornece uma janela de visualização de variáveis.
Comment[pt_BR]=Este plugin fornece uma janela de visualização de variáveis.
Comment[sv]=Det här insticksprogrammet tillhandahåller ett fönster för variabelvisning
Comment[tr]=Bu eklenti, değişken görüntüleyici pencere sağlar.
Comment[uk]=За допомогою цього додатка реалізовано роботу вікна перегляду змінних.
Comment[x-test]=xxThis plug-in provides a variable viewer window.xx
Comment[zh_CN]=该插件提供一个变量查看窗口。
ServiceTypes=KMuddy/Plugin
Type=Service
X-KDE-Library=kmuddyvarviewerplugin
X-KMuddy-Version=2

